:root {
  --color-page-background : #fff;
  --color-header-title: #138A00;
  --color-border: #B9B9B9;
  --color-background: #F2F2F2;

  --color-gray-content-text: #5F5F5F;

  --color-blue: #2188D9;
  --color-red: #CC0C00;
  --color-crimson: #9324C8;
  --color-white: #FFFFFF;

  --color-gray-box-shadow--rgba: rgba(0, 0, 0, 0.1);
}